.app__case {
    flex-direction: column;
    background: var(--color-black);
    min-height: 100vh;
    gap: 3rem;
}

.app__case-title {
    margin-bottom: 2rem;
    text-align: center;
}


.slider-container{
    width: 500px;
    height: 280px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--color-golden);
}


@media screen and (max-width: 650px) {
    .slider-container{
        width: 280px;
        height: 500px;
        margin: 0 auto;
    }
}