.Footer{
    background-color: black;
    color: var(--color-white);
    width: 100vw;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    font-size: 14px;
    flex: 1.5;
}

.middle-line{
    border: 1px solid;
    height: 25px;
}

.Footer img{
    width: 25px;
}

.footer-links{
    display: flex;
    gap: 1.5rem;
    flex: 1;
}

.footer-links a:hover{
    color: var(--color-grey);
}